---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jaya Keshava Chandra Kotha">
<p>
  I am a PhD candidate in Computer Engineering at UC Irvine working on hardware-based runtime detection of microarchitectural attacks using hardware performance counters.
</p>

</BaseLayout>
