---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Teaching · Jaya Keshava Chandra Kotha">
  <p>
    I have served as a teaching assistant for courses in digital logic, computer architecture, and computer software . My teaching philosophy emphasizes building intuition, connecting new ideas to prior knowledge, and supporting diverse learning styles.
  </p>
</BaseLayout>
